flows.json
[
    {
        "id": "4a257a768eb1beb6",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f38f062beedaab9",
        "type": "tab",
        "label": "Filmes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f991018db117e7d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2d5a17d77741a86d",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ddbc79049660a510",
        "type": "ui_group",
        "name": "Login",
        "tab": "2d5a17d77741a86d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d30861182042637",
        "type": "ui_tab",
        "name": "Filmes",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ac038be66381f8c",
        "type": "ui_group",
        "name": "Filmes",
        "tab": "2d30861182042637",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6341d255e46e9b7",
        "type": "gauth",
        "name": "node-red@node-red-403718.iam.gserviceaccount.com"
    },
    {
        "id": "eab5afcc99d05814",
        "type": "ui_form",
        "z": "4a257a768eb1beb6",
        "name": "Formulário Login",
        "label": "",
        "group": "ddbc79049660a510",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Usuário",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "acessar",
        "cancel": "cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "348b7ed124e5f9cd"
            ]
        ]
    },
    {
        "id": "54a9ac684c6beee8",
        "type": "ui_toast",
        "z": "4a257a768eb1beb6",
        "position": "top left",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "notificação",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "348b7ed124e5f9cd",
        "type": "switch",
        "z": "4a257a768eb1beb6",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "octaviogarcia1988@gmail.com",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "octaviogarcia1988@gmail.com",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "cb946ab5570a8ec0"
            ],
            [
                "22a8784cb6ee4567"
            ]
        ]
    },
    {
        "id": "cb946ab5570a8ec0",
        "type": "switch",
        "z": "4a257a768eb1beb6",
        "name": "",
        "property": "payload.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "030488",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "030488",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "315f42d51c09975f"
            ],
            [
                "f342e9345d6a44f3"
            ]
        ]
    },
    {
        "id": "22a8784cb6ee4567",
        "type": "change",
        "z": "4a257a768eb1beb6",
        "name": "notificação",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário Inválido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 360,
        "wires": [
            [
                "54a9ac684c6beee8"
            ]
        ]
    },
    {
        "id": "f342e9345d6a44f3",
        "type": "change",
        "z": "4a257a768eb1beb6",
        "name": "notificação",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Senha Inválida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "54a9ac684c6beee8"
            ]
        ]
    },
    {
        "id": "315f42d51c09975f",
        "type": "change",
        "z": "4a257a768eb1beb6",
        "name": "liberação",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Filmes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "8ffb67cd6beec7c7",
                "de551e5ffd59c44c"
            ]
        ]
    },
    {
        "id": "8ffb67cd6beec7c7",
        "type": "ui_ui_control",
        "z": "4a257a768eb1beb6",
        "name": "",
        "events": "all",
        "x": 1160,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "de551e5ffd59c44c",
        "type": "change",
        "z": "4a257a768eb1beb6",
        "name": "notificação",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Acesso permitido!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 280,
        "wires": [
            [
                "54a9ac684c6beee8"
            ]
        ]
    },
    {
        "id": "346ff90cce35cdca",
        "type": "http request",
        "z": "4a257a768eb1beb6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "eab5afcc99d05814"
            ]
        ]
    },
    {
        "id": "b8c5d98552b04757",
        "type": "inject",
        "z": "4a257a768eb1beb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?select=*",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "dd18730470355a39"
            ]
        ]
    },
    {
        "id": "dd18730470355a39",
        "type": "change",
        "z": "4a257a768eb1beb6",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "346ff90cce35cdca"
            ]
        ]
    },
    {
        "id": "71d70ff03b79c9ed",
        "type": "inject",
        "z": "1f38f062beedaab9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "1d7273979e61cff8"
            ]
        ]
    },
    {
        "id": "a07d42f7fcd0403e",
        "type": "GSheet",
        "z": "1f38f062beedaab9",
        "creds": "a6341d255e46e9b7",
        "method": "update",
        "action": "",
        "sheet": "1se8yq40Yvx9kB8ZsoubPdO8_g-tMRD8YK8aVBHuP4mM",
        "cells": "C2:D2",
        "flatten": false,
        "name": "",
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7273979e61cff8",
        "type": "moment",
        "z": "1f38f062beedaab9",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "America/Sao_Paulo",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/yyyy-HH-mm",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a07d42f7fcd0403e"
            ]
        ]
    },
    {
        "id": "01118b0daa1470e9",
        "type": "ui_dropdown",
        "z": "1f38f062beedaab9",
        "name": "",
        "label": "Filmes:",
        "tooltip": "",
        "place": "Selecione uma opção!",
        "group": "9ac038be66381f8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "O resgate do soldado Ryan",
                "value": "O resgate do soldado Ryan",
                "type": "str"
            },
            {
                "label": "Senhor do anéis",
                "value": "Senhor do anéis",
                "type": "str"
            },
            {
                "label": "Clube da luta",
                "value": "Clube da luta",
                "type": "str"
            },
            {
                "label": "Mussum",
                "value": "Mussum",
                "type": "str"
            },
            {
                "label": "Não abra!",
                "value": "Não abra!",
                "type": "str"
            },
            {
                "label": "Corra!",
                "value": "Corra!",
                "type": "str"
            },
            {
                "label": "Não olhe para cima!",
                "value": "Não olhe para cima!",
                "type": "str"
            },
            {
                "label": "A freira 2",
                "value": "A freira 2",
                "type": "str"
            },
            {
                "label": "Dungeons & Dragons: Honra Entre Rebeldes",
                "value": "Dungeons & Dragons: Honra Entre Rebeldes",
                "type": "str"
            },
            {
                "label": "A baleia",
                "value": "A baleia",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "78c3310e601b2cfe"
            ]
        ]
    },
    {
        "id": "4e629281597b9c58",
        "type": "GSheet",
        "z": "1f38f062beedaab9",
        "creds": "a6341d255e46e9b7",
        "method": "update",
        "action": "",
        "sheet": "1se8yq40Yvx9kB8ZsoubPdO8_g-tMRD8YK8aVBHuP4mM",
        "cells": "B2:C2",
        "flatten": false,
        "name": "",
        "x": 590,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "78c3310e601b2cfe",
        "type": "function",
        "z": "1f38f062beedaab9",
        "name": "function 1",
        "func": "var selectedOptions = msg.payload; // Isso conterá um array com as opções selecionadas\nvar selectedOptionsString = selectedOptions.join(', ');\n\nmsg.payload = selectedOptionsString; // selectedOptionsString é a string que você deseja exibir no debug\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "4e629281597b9c58"
            ]
        ]
    }
]